<div class="login-background">


<% if logged_in? %>
<h1 class="prof-title2">Gone Squatchin?</h1>
<div class="report-form-wrapper">
      <div class="form2">

        <form class="new-entry" action="/sightings/all" method="post" enctype="multipart/form-data" >
          <label for="">Name</label>
          <input name="name" type="text">

          <label for="">Upload Image</label>
          <input id="file" type="file" name="picture" />

          <label for="">Country</label>
          <select class="" name="country_id">
              <% @countries.each do |country| %>
              <option value="<%= country['id'] %>"><%= country['name'] %></option>
              <% end %>
          </select>

          <label for="">Date</label>
          <input name="date" type="date">

          <!-- <label for="">Image URL</label>
          <textarea name="image_url" rows="3" cols="40"></textarea> -->
          <button>Report</button>
        </form>

      </div>
    </div>

  <% else %>

<div class="register-wrapper">

<div class="para">
  <h3>Seen a sasquatch?</h1>
    <h5>Already have an account? Login <a href="/session/new">here</a></h5>
    <p>It's a fact that for more than 400 years people have reported seeing large, hair-covered, man-like animals in the wilderness areas across the globe.</p> <p>Our mission is to provide a place for explorers and researchers to share and discuss possible sasquatch sightings. If you think you have evidence of a sasquatch this is the place to share that information. Sign up here.</p>
</div>

<div class="login-page2">
  <div class="form2">

    <form action="/register" method="post" class="login-form">

      <label class="full-name" for="">NAME</label>
      <input type="text" name="first">

      <label class="hi" for="">EMAIL</label>
      <input type="text" name="email">

      <label class="hi" for="">USERNAME</label>
      <input type="text" name="username">

      <label class="hi" for="">PASSWORD</label>
      <input name="password" type="password">

      <label class="hi" for="">CONFIRM PASSWORD</label>
      <input name="password_confirmation" type="password">

      <button>Sign Up</button>
    </form>
  </div>
</div>

</div>


<% end %>

<footer>

  <img src="/images/footer2.png" class="fix" alt="" />

</footer>

</div>
