@font-face {
    font-family: gorilla;
    src: url(Gorilla.ttf);
}

@font-face {
    font-family: dinreg;
    src: url(dinreg.ttf);
}

@font-face {
    font-family: dinmed;
    src: url(dinmed.ttf);
}

@font-face {
    font-family: giacco;
    src: url(Mister-giacco-medium.ttf);
}

/*----- LAYOUT TEMPLATE -----*/


html, body{
  margin:0;
  padding:0;
  max-width: 100%;
  background-color:#D3D3D3;
}

.nav{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  background-color: #588B7E;
  padding:18px;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:2px 10px 8px;
    color:white;
    font-family: giacco;
    text-decoration: none;
    font-size: 22px;
    margin:0px;
    margin-right:100px;
}

.nav a:hover{
  color:#FBF4DA;
}

/*.nav a:active{
  color:#FBF4DA;
}*/

#logo{
  font-family: gorilla;
  line-height: 22px;
  margin-top: 5px;
  color:#FBF4DA;
}

#com{
  font-family: gorilla;
  line-height: 22px;
  margin-top: 5px;
  color:#FBF4DA;
  font-size:18px;
}

#sass{
  font-size:35px;
}

.logged-in{
  font-size: 14px;
  display: inline;
  float:right;
  margin-right: 20px;
  margin-top: 15px;
  font-family: giacco;
  color:white;
}

.log-out{
  font-size: 20px;
  display: inline;
  float:right;
  margin-right: 20px;
  margin-top: 30px;
}

.log-out button{
    font-family: giacco;
    text-transform: uppercase;
    outline: 0;
    color: #FBF4DA;
    width: 100px;
    border: 0;
    padding: 10px;
    background-color: #dd1526;
    font-size: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border:none;
    margin-right: 30px;
    display: inline;
    margin-bottom: 100px;
}


.log-out button:hover{
  background: #dd1526;
}


.fix{
   position:fixed;
   bottom:0px;
   left:13%;
   width:70%;
   }

   #account{
     margin-right:10px;
   }



/*----HOME PAGE---*/

#input {
    border: solid 1px #CCC;
    height: 40px;
    width: 250px;
    font-size: 15px;
    color: #999;
    padding-left: 5px;
    vertical-align: bottom
}

#button {
    height: 63px;
    width: 100px;
    background-color: #D96358;
    font-size: 20px;
    /*border-bottom: 5px solid white;*/
    color:white;
    border-color: white;
}

.wrapper{
    margin:3% auto;
    text-align: center;
}

.index-wrapper{
    max-width:100%;
    margin:0 auto;
    background-image: url(../images/main2.png);
    background-size: 100% 100% ;
    height:100vh;

}

.search{
    padding: 0;
    margin: 0;
    width: 650px;
    height:60px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
    font-size:40px;
    position: relative;
    left:25%;
    top:42%;
    border-bottom: 5px solid lightgray;
}

.search select {
    padding: 5px 18px;
    width: 101%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size:22px;
    font-family: giacco;
}

#disabled{
  color:darkgray;
}

.select-style select:focus {
    outline: none;
}

.search-button {
  position: relative;
  left:70.9%;
  top:33.5%;
  font-family: giacco;
}

.wrapper{
    text-align: center;
}

/*----SIGHTINGS PAGE---*/

.image{
  max-width: 650px;
  min-height: 475px;
}

.post{
    background-color: white;
    padding:20px;
    display:block;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.47);
    -moz-box-shadow:    4px 4px 8px 0px rgba(50, 50, 50, 0.47);
    box-shadow:         4px 4px 8px 0px rgba(50, 50, 50, 0.47);
    border-radius: 3px;
    max-width:650px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: -4;
    font-family: giacco;
    color:#221E1D;
}

.sighting-title a {
      text-decoration: none;
      color:#588B7E;
}

.post p{
    margin:7px 0;
}

.left{
  width:50%;
  text-align: left;
  display: inline-block;
  margin:0;
}

.right{
  width:49%;
  text-align: right;
  display: inline-block;
  margin:0
}

.sighting-title{
  font-size: 28px;
}

.sighting-small{
  font-size: 18px;
}

.posted-by{
  color:#dd1526;
}

.posted-by a{
  color:#dd1526;
  text-decoration: none;
}


/*----REGISTER PAGE----*/

.para h3{
  margin:0;
  font-family: gorilla;
  font-size: 30px;
  margin-bottom: 8%;
}

.para{
  font-family: giacco;
  width:33%;
  float:left;
  margin:5% 1% 10% 13%;
  line-height: 30px;
  font-size: 22px;
}


.login-page2 {
  width:45%;
  padding:2%  0;
  float:right;
  margin:0;
  margin-top: 2%;
}

.login-page2 label, .login-page3 label{
  margin-bottom: 3px;
  font-family: giacco;
  font-size: 20px;
  color:#373735;
}


.form2 {
  position: relative;
  z-index: 1;
  max-width: 420px;
  padding-top: 0px;
}

.form2 input, .form2 select, .form2 textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 0px;
}


.form2 button {
  font-family: giacco;
  text-transform: uppercase;
  outline: 0;
  background: #D96358;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 22px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form2 button:hover,.form2 button:active,.form2 button:focus {
  background: #dd1526;
}

.login-page2 {
  width:47%;
  padding:2% 0;
  margin:0 auto;
  margin-top:0%;
}


/*----LOGIN PAGE---*/

.titles{
  font-family: gorilla;
  font-size: 70px;
  margin:0;
  margin-left: auto;
  margin-right: auto;
  width:20%;
  padding-top: 5%;
  margin-bottom: 0;
  color:#373735;
}

footer{
  background-color: #D3D3D3;
}

.login-background{
  background-color: #D3D3D3;
  height:700px;
  width:100%;
  margin:0;
}

.login-page {
  width: 360px;
  padding:2%  0;
  margin:0 auto;
}

.login-page label{
  margin-bottom: 3px;
  font-family: giacco;
  font-size: 20px;
  color:#373735;
}

.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 35px;
  padding-top: 20px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background:white;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px 50px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: giacco;
  text-transform: uppercase;
  outline: 0;
  background: #D96358;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 22px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #dd1526;
}

/*---REPORT PAGE---*/

.login-page3 {
  width:30%;
  padding:2% 0;
  margin:0 auto;
  margin-top:0%;
}


.new-entry{
  margin:0 auto;
  max-width: 100%;
}


.login-page2 label{
  margin-bottom: 3px;
  font-family: giacco;
  font-size: 20px;
  color:#373735;
}

.form2 select{
    padding: 5px 18px;
    border: none;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size:22px;
    font-family: giacco;
}

#file{
  border-radius: 0px;
  font-family: giacco;
}


/*----PROFILE PAGE ----*/

.prof-wrapper{
  margin:0 auto ;
  width:100%;
}

.profile-post{
    background-color: white;
    display:block;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.47);
    -moz-box-shadow:    4px 4px 8px 0px rgba(50, 50, 50, 0.47);
    box-shadow:         4px 4px 8px 0px rgba(50, 50, 50, 0.47);
    border-radius: 3px;
    max-width:650px;
    margin: 0 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: -4;
    font-family: giacco;
    color:#221E1D;
    overflow: hidden;
}


.prof-title{
  font-family: gorilla;
  font-size: 30px;
  text-align: left;
  padding: 20px;
  margin: 0;
  color:#FBF4DA;
  background-color: #588B7E;
  width:100%;
  border-bottom: 2px solid ;
}

.prof-title2{
  font-family: gorilla;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  margin-right: 20px;
  color:#373735;
  width:100%;
}


.profilepic{
	display:block;
	width:220px;
  height:220px;
	margin:50px 0;
	background-color:lightgray;
  float:left;
  margin-right:20px;
  border-radius: 10px;
  margin-left: 35px;
}

.profile-about{
  margin-top: 28px;
  float:left;
  font-size: 25px;
}

li{
   list-style-type: none;
   font-family: giacco;
}

#comments{
  font-family: giacco;
}


/*---EDIT PROFILE PAGE---*/
