<!-- <div class="search2">
    <form action="/results" method="get">
      <input id="input" type="text" name="movies" value="" placeholder="Find by location..">
      <button id="button" name="button">GO</button>
    </form>
</div> -->


<div class="index-wrapper">
  <div class="search">
    <form class="" action="/sightings/all" method="get">
      <select name="country_id">
        <option id="disabled" value="" disabled selected>Find one near you..</option>
        <% @countries.each do |country| %>
          <option value="<%= country['id'] %>"><%= country['name'] %></option>
        <% end %>

      </select>
      </div>
      <div class="search-button">
        <button id="button">GO</button>
      </div>
    </form>

</div>
