<div class="login-background">


<h1 class="titles">Register</h1>

<div class="login-page">
  <div class="form">

    <form action="/register" method="post" class="login-form">

      <label class="full-name" for="">FIRST NAME</label>
      <input type="text" name="first">

      <label class="hi" for="">EMAIL</label>
      <input type="text" name="email">

      <label class="hi" for="">USERNAME</label>
      <input type="text" name="username">

      <label class="hi" for="">PASSWORD</label>
      <input name="password" type="password">

      <button>Sign Up</button>
    </form>
  </div>
</div>

<footer>

  <img src="/images/footer2.png" class="fix" alt="" />

</footer>

</div>
