<div class="login-background">


  <% if logged_in? %>

      <div class="form-wrapper">

        <form class="new-entry" action="/sightings/all" method="post" >
          <label for="">Name</label>
          <input name="name" type="text">

          <label for="">Country</label>
          <select class="" name="country_id">
              <% @countries.each do |country| %>
              <option value="<%= country['id'] %>"><%= country['name'] %></option>
              <% end %>
          </select>

          <label for="">Date</label>
          <input name="date" type="date">

          <label for="">Image URL</label>
          <textarea name="image_url" rows="8" cols="40"></textarea>
          <button>Report</button>
        </form>

      </div>

  <% else %>

<div class="para">
  <h3>Seen a sasquatch?</h1>
    <h5>Already have an account? Login <a href="/session/new">here</a></h5>
    <p>Chartreuse authentic pinterest affogato selfies, tbh humblebrag lyft knausgaard craft beer ramps. Wolf activated charcoal poke, beard everyday carry fingerstache polaroid flexitarian. Banjo scenester coloring book fingerstache affogato taxidermy, mustache normcore pour-over unicorn brooklyn listicle. Blog semiotics iPhone hella poutine yuccie. Slow-carb distillery kogi, shoreditch cronut iPhone keffiyeh narwhal. Try-hard chambray 90's williamsburg, art party hoodie godard listicle. </p>
</div>

<div class="login-page2">
  <div class="form2">

    <form action="/register" method="post" class="login-form">

      <label class="full-name" for="">NAME</label>
      <input type="text" name="first">

      <label class="hi" for="">EMAIL</label>
      <input type="text" name="email">

      <label class="hi" for="">USERNAME</label>
      <input type="text" name="username">

      <label class="hi" for="">PASSWORD</label>
      <input name="password" type="password">

      <label class="hi" for="">CONFIRM PASSWORD</label>
      <input name="text" type="password">

      <button>Sign Up</button>
    </form>
  </div>
</div>


<% end %>

<footer>

  <img src="/images/footer2.png" class="fix" alt="" />

</footer>

</div>
