<h1 class="titles">User Profile:</h1>
<div class="wrapper">

  <div class="post">
    <p class=""><%= @user['first'] %></p>
    <p class=""><%= @user['username'] %></p>
    <p class=""><%= @user['email'] %></p>
  </div>

</div>
