<h1 class="prof-title">Edit Profile</h1>

<div class="form2">
  <form action="/profile/<%= @user['id'] %>" method="post" enctype="multipart/form-data">
    <label for="">Name</label>
    <input name="first" type="text" value="<%= @user['first'] %>">

    <label for="">Email</label>
    <input name="email" type="text" value="<%= @user['email'] %>">

    <label for="">Profile Photo</label>
    <input id="file" type="file" name="profilepic" />

    <button>Update</button>
  </form>
</div>
