<div class="login-background">


<h1 class="titles">Sign In</h1>

<div class="login-page">
  <div class="form">

    <form action="/session" method="post" class="login-form">
      <label class="hi" for="">USERNAME</label>
      <input type="text" name="username">

      <label class="hi" for="">PASSWORD</label>
      <input name="password" type="password">

      <button>Login</button>
    </form>
  </div>
</div>

<footer>

  <img src="/images/footer2.png" class="fix" alt="" />

</footer>

</div>
